body {
    font-family: Arial;
    background: #edf2fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #4361ee;
    color: white;
    border: none;
    border-radius: 5px;
}